--extra-index-url https://download.pytorch.org/whl/cu124

torch==2.4.0
torchvision
xformers
omegaconf
rm_anime_bg
diffusers==0.29.1
transformers==4.42.4
einops
huggingface_hub==0.29.3
opencv-python
accelerate
matplotlib
kornia
imageio
imageio-ffmpeg
xatlas
trimesh
rembg
onnxruntime
scikit-learn
pygltflib
pymeshlab==2022.2.post3
pytorch_lightning
imagehash
gradio
ninja

